<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17917223846"></script>

<script>
window.dataLayer = window.dataLayer || [];

function gtag(){
dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'AW-17917223846');
</script>

<title>Contact Us</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body class="policy-page">

<div class="policy-container">

<h1>Contact Us</h1>

<p>
Email:
<a href="mailto:support@corede.co">
support@corede.co
</a>
</p>

<p>
Phone: +91 89510 29849
</p>

<p>
CoreDe Digital Marketing And Software Development LLP
</p>

<p>
Karnataka, India
</p>

</div>

</body>

</html>