<!DOCTYPE html>
<html>

<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17917223846"></script>

<script>
window.dataLayer = window.dataLayer || [];

function gtag(){
dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'AW-17917223846');
</script>
    <title>Privacy Policy</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="policy-page">

<div class="policy-container">

<h1>Privacy Policy</h1>

<p>
CoreDe Digital Marketing And Software Development LLP respects your privacy.
</p>

<p>
We collect user information only for internship registration,
communication, and payment processing.
</p>

<p>
Your information is secure and protected.
</p>

<p>
Contact:
<a href="mailto:support@corede.co">
support@corede.co
</a>
</p>

</div>

</body>

</html>