<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17917223846"></script>

<script>
window.dataLayer = window.dataLayer || [];

function gtag(){
dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'AW-17917223846');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Refund Policy</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body class="policy-page">

<div class="policy-container">

<h1>Refund Policy</h1>

<p>
Internship registration fees are non-refundable once payment is completed.
</p>

<p>
If payment fails but money is deducted, refund will be processed automatically by bank.
</p>

<p>
For support contact:
<a href="mailto:support@corede.co">
support@corede.co
</a>
</p>

</div>

</body>

</html>