<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-17917223846"></script>

<script>
window.dataLayer = window.dataLayer || [];

function gtag(){
dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'AW-17917223846');
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Terms & Conditions</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body class="policy-page">

<div class="policy-container">

<h1>Terms & Conditions</h1>

<p>
By using CoreDe services and internship programs,
you agree to our terms and conditions.
</p>

<p>
Users must provide valid information during registration.
</p>

<p>
Any misuse of services may result in account termination.
</p>

<p>
Payments once completed are subject to company policies.
</p>

</div>

</body>

</html>